/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~semantic-ui-css/semantic.min.css';

#root {
  height: 100%;
}

div.ui.grid {
  height: 100%;
  margin: 0;
}

#main {
  height: 100%;
  overflow-y: auto;
}

.format-ie-list {
  max-height: 80vh;
  overflow-y: auto;
}

#aside {
  height: 100%;
  overflow-y: auto;
}

#workerError {
  font-family: monospace;
}

#toast {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 50%;
}
